html {
	overflow: hidden;
	height: 100%;
}
body {
	height: 100%;
	margin: 0px;
}
.alert_outer-container {
	display: flex;
	justify-content: center;
	position: relative;
	padding: 0rem;
	height: 100%;
}
.alert_outer-container.playing {
    animation-fill-mode: forwards;
    animation-name: alert-animation-slide-in, alert-animation-slide-out;
    animation-timing-function: ease-in-out;
	animation-duration: 0.5s;
}
.alert_widget-container {
	display: flex;
	background-color: #FFFFFF00;
	width: 100%;
	height: 100%;
	padding: 0px;
	border-radius: 0px;

}

.alert_image-container {
	display: flex;
	width: 100%;
	position: absolute;
	z-index: -1;
	justify-content: center;
	align-self: center;
}

.alert_text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin: 20px;
    z-index: 1;
    max-height: 100%;
    max-width: 100%;
    filter: drop-shadow(6px 6px 2px #121212) drop-shadow(6px -6px 2px #121212) drop-shadow(-6px 6px 2px #121212) drop-shadow(-6px -6px 2px #121212);
}

.alert_text {
    font-family: '8-bit Operator+', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #969696;
	width: 100%;
}

.alert_secondary-text {
    font-family: '8-bit Operator+', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #969696;
    width: 100%;
}

.alert_text-accent {
    color: #5EBB00;
}

.alert_image {
    width: 100%;
    height: 100%;
}

.inline_emote {
    height: 1.5em;
    vertical-align: -0.2em;
}

.cheer-1 {
    color: #979797;
}
.cheer-100 {
    color: #9c3ee8;
}
.cheer-1000 {
    color: #1db2a5;
}
.cheer-5000 {
    color: #0099fe;
}
.cheer-10000 {
    color: #f43021;
}
.cheer-100000 {
    color: #f3a71a;
}

@keyframes alert-animation-slide-in {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

@keyframes alert-animation-slide-out {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}