html {
	overflow: hidden;
	height: 100%;
}
body {
	height: 100%;
	margin: 0px;
}
.alert_outer-container {
	display: flex;
	justify-content: center;
	position: relative;
	padding: 0rem;
	height: 100%;
}
.alert_outer-container.playing {
	animation: 101s alert-animation ease-in-out forwards;
}
.alert_widget-container {
	display: flex;
	background-color: #FFFFFF00;
	width: 100%;
	height: 100%;
	padding: 0px;
	border-radius: 0px;

}

.alert_image-container {
	display: flex;
	width: 100%;
	position: absolute;
	z-index: -1;
	justify-content: center;
	align-self: center;
}

.alert_text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 1;
    max-height: 100%;
    max-width: 100%;
}

.alert_text {
    font-family: '8-bit Operator+', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
	width: 100%;

}

.alert_secondary-text {
    font-family: '8-bit Operator+', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #FFFFFF;
    width: 100%;

}

.alert_text-accent {
    color: #9146FF;
}

.alert_image {
    width: 100%;
    height: 100%;
}

.cheer-1 {
    color: #979797;
}
.cheer-100 {
    color: #9c3ee8;
}
.cheer-1000 {
    color: #1db2a5;
}
.cheer-5000 {
    color: #0099fe;
}
.cheer-10000 {
    color: #f43021;
}
.cheer-100000 {
    color: #f3a71a;
}
@keyframes alert-animation {
    0% {
        left: -100%;
    }
    0.8733624454148473% {
        left: 0;
    }
    99.12663755458516% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}