html {
	overflow: hidden;
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
}

.alert_outer-container {
	display: flex;
	justify-content: center;
	position: relative;
	padding: 0rem;
	height: 100%;
	width: 100%;
}

.alert_outer-container.playing {
    animation-fill-mode: forwards;
    animation-name: alert-animation-slide-in-left, alert-animation-slide-out-left;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-delay: 0s, 9.5s;
}

.alert_outer-container.anim_5 {
    animation-delay: 0s, 4.5s;
}
.alert_outer-container.anim_7 {
    animation-delay: 0s, 6.5s;
}
.alert_outer-container.anim_10 {
    animation-delay: 0s, 9.5s;
}
.alert_outer-container.anim_15 {
    animation-delay: 0s, 14.5s;
}
.alert_outer-container.anim_20 {
    animation-delay: 0s, 19.5s;
}
.alert_outer-container.anim_30 {
    animation-delay: 0s, 29.5s;
}
.alert_outer-container.anim_45 {
    animation-delay: 0s, 44.5s;
}
.alert_outer-container.anim_60 {
    animation-delay: 0s, 59.5s;
}
.alert_outer-container.anim_75 {
    animation-delay: 0s, 74.5s;
}
.alert_outer-container.anim_90 {
    animation-delay: 0s, 89.5s;
}
.alert_outer-container.anim_99 {
    animation-delay: 0s, 98.5s;
}

.alert_widget-container {
	display: flex;
	background-color: #FFFFFF00;
	width: 100%;
	height: 100%;
	padding: 0px;
	border-radius: 0px;
    background-color: #121212;
}

.alert_image-container {
	display: flex;
	width: 100%;
	position: absolute;
	z-index: -1;
	justify-content: center;
	align-self: center;
}

.alert_text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin: 10px;
    z-index: 1;
    max-height: 100%;
    max-width: 100%;
    filter: drop-shadow(6px 6px 2px #121212) drop-shadow(6px -6px 2px #121212) drop-shadow(-6px 6px 2px #121212) drop-shadow(-6px -6px 2px #121212);
    word-break: break-word;
}

.alert_fullscreen-container {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.alert_text {
    font-family: '8-bit Operator+', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #969696;
	width: 100%;
}

.alert_secondary-text {
    font-family: '8-bit Operator+', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #969696;
    width: 100%;
}

.alert_text-accent {
    color: #5EBB00;
}

.alert_image {
    width: 100%;
    height: 100%;
}

@media (width:308px) and (height:308px) {
    .alert_widget-container {
        background-image: url("https://static-cdn.jtvnw.net/alert-asset/v2/47243772/image/2hWH9Ta6J05Wb8GWt4uyJnBF0fA/Alert_Background_16_9.png");
    }
}

@media (width:788px) and (height:100px) {
    .alert_widget-container {
        background-image: url("https://static-cdn.jtvnw.net/alert-asset/v2/47243772/image/2hSmkEQUS7Lgy5Gy3XzYGgZgrzK/Alert_Background_4_3.png");
    }
}

@media (width:567) and (height:100px) {
    .alert_widget-container {
        background-image: url("https://static-cdn.jtvnw.net/alert-asset/v2/47243772/image/2hSmkEQUS7Lgy5Gy3XzYGgZgrzK/Alert_Background_3_2.png");
    }
}

.inline_emote {
    height: 1.5em;
    vertical-align: -0.2em;
}

.cheer-1 {
    color: #979797;
}
.cheer-100 {
    color: #9c3ee8;
}
.cheer-1000 {
    color: #1db2a5;
}
.cheer-5000 {
    color: #0099fe;
}
.cheer-10000 {
    color: #f43021;
}
.cheer-100000 {
    color: #f3a71a;
}

.trans_rights_color {
    position: relative;
    height: 20%;
    width: 100%;
    left: -100%;
}
.trans_rights_color.playing {
    animation-fill-mode: forwards;
    animation-name: alert-animation-slide-in-left, alert-animation-slide-out-right;
    animation-timing-function: ease-in-out;
    animation-duration: 0.3s;
    animation-delay: 0s, 2.5s;
}
.trans_rights_color.trblue_top {
    background-color: #52bae1;
    animation-delay: 0s, 2.1s;
}
.trans_rights_color.trpink_top {
    background-color: #dd98a6;
    animation-name: alert-animation-slide-in-right, alert-animation-slide-out-left;
    animation-delay: 0.1s, 2.2s;
}
.trans_rights_color.trwhite {
    background-color: #e6e6e6;
    animation-delay: 0.2s, 2.3s;
}
.trans_rights_color.trpink_bottom {
    background-color: #dd98a6;
    animation-name: alert-animation-slide-in-right, alert-animation-slide-out-left;
    animation-delay: 0.3s, 2.4s;
}
.trans_rights_color.trblue_bottom {
    background-color: #52bae1;
    animation-delay: 0.4s, 2.5s;
}

.nonbinary_rights_color {
    position: relative;
    height: 25%;
    width: 100%;
    left: -100%;
}
.nonbinary_rights_color.playing {
    animation-fill-mode: forwards;
    animation-name: alert-animation-slide-in-right, alert-animation-slide-out-right;
    animation-timing-function: ease-in-out;
    animation-duration: 0.3s;
    animation-delay: 0s, 2.5s;
}
.nonbinary_rights_color.nb_yellow {
    background-color: #ede631;
    animation-delay: 0s, 2.2s;
}
.nonbinary_rights_color.nb_white {
    background-color: #f0f0f0;
    animation-delay: 0.1s, 2.3s;
}
.nonbinary_rights_color.nb_purple {
    background-color: #9354c5;
    animation-name: alert-animation-slide-in-left, alert-animation-slide-out-left;
    animation-delay: 0.2s, 2.4s;
}
.nonbinary_rights_color.nb_black {
    background-color: #292929;
    animation-name: alert-animation-slide-in-left, alert-animation-slide-out-left;
    animation-delay: 0.3s, 2.5s;
}

.queer_pride_color {
    position: relative;
    height: 33.3333%;
    width: 100%;
    left: -100%;
}
.queer_pride_color.playing {
    animation-fill-mode: forwards;
    animation-name: alert-animation-slide-in-left, alert-animation-slide-out-left;
    animation-timing-function: ease-in-out;
    animation-duration: 0.3s;
    animation-delay: 0s, 2.5s;
}
.queer_pride_color.queer_red {
    background-color: #c90303;
    animation-delay: 0s, 0.9s;
}
.queer_pride_color.queer_orange {
    background-color: #e17b00;
    animation-name: alert-animation-slide-in-right, alert-animation-slide-out-right;
    animation-delay: 0.3s, 1.2s;
}
.queer_pride_color.queer_yellow {
    background-color: #e1d100;
    height: 33.3334%;
    animation-delay: 0.6s, 1.5s;
}
.queer_pride_color.queer_green {
    background-color: #007122;
    animation-name: alert-animation-slide-in-right, alert-animation-slide-out-right;
    animation-delay: 0.9s, 1.8s;
}
.queer_pride_color.queer_indigo {
    background-color: #0043e1;
    animation-delay: 1.2s, 2.1s;
}
.queer_pride_color.queer_violet {
    background-color: #652473;
    height: 33.3334%;
    animation-name: alert-animation-slide-in-right, alert-animation-slide-out-right;
    animation-delay: 1.5s, 2.4s;
}

@keyframes alert-animation-slide-in-left {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

@keyframes alert-animation-slide-in-right {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}

@keyframes alert-animation-slide-out-left {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

@keyframes alert-animation-slide-out-right {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}